body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f7fa;
    color: #222;
}

.hero {
    background: #0f172a;
    color: white;
    padding: 60px;
    text-align: center;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero h3 {
    font-weight: normal;
}

.buttons {
    margin-top: 25px;
}

.btn {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
}

.section {
    padding: 40px 80px;
    background: white;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
}

.project {
    margin-top: 20px;
}
